@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
.App {
  display: grid;
  background:url(nen.png);
  background-position: center;
  height: 56.95em;
  place-items: center;
}
.login{
  border-radius: 30px;
  width: 35em;
  height: 35em;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px white;
}
.Text{
  position: relative;
  display: grid;
  flex-direction: column;
  place-content: center;
  animation-duration: 0.5s;
  animation: minhquan;
}

.Signin{
  display: grid;
  position: relative;
  animation-duration: 1.5s;
  animation-name: minhquan1;
}
@keyframes minhquan1{
0%{transform: translateX(120px)}
100%{transform: translateX(0px);}
}
.Signup{
  display: none;
  position: relative;
  animation-duration: 1.5s;
  animation-name: minhquan2;
}
@keyframes minhquan2{
0%{transform: translateX(-120px)}
100%{transform: translateX(0px);}
}
.Sign{
  display: flex;
  place-content: center;
  margin-top: 10px;
}

.buttons{
    width: 15em;
    box-shadow: 0px 2px 1px  rgb(63, 57, 57);
}

.buttons:active{
  transform: translateY(0.5px);
  box-shadow: none;
}
.Logominhquan{
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 0 auto;
    font-size: 100px;
    color: rgb(6, 150, 150);
    text-shadow: 0 1px 2px rgb(63, 57, 57);
}
.buttonlogin{
  display: grid;
  place-content: center;
  margin-top: 20px;
}
.buttonlogin Button{
  width: 15em;
}

div.tabinterated{
  position: absolute;
  border-radius:5px ;
  width: 13.1em;
  height: 2.2em;
  left: 11.79%;
  top:10px;
  background-color: rgba(255, 255, 255, 0.445);
  z-index: -1;
  transition: all 1s ease-in-out;
}

.buttons1{
  width: 15em;
  box-shadow: 1px 2px 1px rgb(63, 57, 57);
}
.buttons1:active{
  transform: translateY(0.5px);
  box-shadow: none;
}

input#Signin{
  display: none;
}
input#Signup{
  display: none;
}

input#Signup:checked ~div.tabinterated{
  left:50.8%;
  background-color:rgba(255, 255, 255, 0.459);
}

input#Signup:checked ~div.Signup{
  display: block;
  
}
input#Signup:checked ~div.Signin{
  display: none;
}
